/*  */
.text-center{text-align:center}
.text-left{text-align:left}
.text-primary{color:var(--color-text-primary)}
.text-white{color:white}
.text-dark{color:#333}
.text-black{color:black}
.font-bold{font-weight:bold}
.font-normal{font-weight:normal}
.d-flex{display:flex}
.d-block{display:block}
.d-inline-block{display:inline-block}
.position-absolute{position:absolute}
body.dark{
    background:#000;
}

.btn-toggle{
    background:#fff;
    border-radius: 5px;
    background:#050505;
    color:#fff;
    height:40px;
    margin:7% auto;
    padding:0 2%;
    border:none;
}

.dark .btn-toggle{
    color:#fff;
}
.clock-container{
    display: flex;
    font-size: 30px;
    color: #000;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
}
.dark .clock-container{
    color: #fff;
}
.clock{
    width:200px;
    height:200px;
    position: relative;
}
.pointer{
    background:#000;
    width:3px;
    height:65px;
    position: absolute;
    left:50%;
    top:50%;
}

.dark .pointer{
    background:#fff;
    width:3px;
    height:65px;
    position: absolute;
    left:50%;
    top:50%;
}


.hour{
    transform-origin: bottom center;
    transform: translate(-50%,-100%) rotate(90deg);
}
.minute{
    height:100px;
    transform-origin: bottom center;
    transform: translate(-50%,-100%) rotate(100deg);
}
.second{
    background:red;
    height:100px;
    transform-origin: bottom center;
    transform: translate(-50%,-100%) rotate(180deg);
}
.center-pointer{
    background:red;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
}


.date-wrap{
  margin-top:5%;
}
.date{
    font-size:20px;
}
.circle{
    display:inline-block;
    width:30px;
    height:30px;
    line-height: 30px;
    border-radius: 50%;
    background:#fff;
    color:#333
}
